body
{
    margin: 20px;
    padding: 20px;

}
.background
{
   width: 50%;
   height: 50%;
   background-image:url(johan-lindberg-6bj5Oo-2Qol-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center; 
}
