body
{
    margin: 20px;
    padding: 20px;

}
.background
{
   width: 50%;
   height: 50%;
   background-image:url(./Public/johan-lindberg-6bJ5Oo-2QoI-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center; 
}
